<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
      <form 
        novalidate 
        (ngSubmit)="onSubmit()" 
        [formGroup]="fc">
        <div class="form-group">
          <div class="form-label-group">              
            <input 
                id="inputEmail"
                type="email" 
                class="form-control" 
                autofocus="autofocus"
                placeholder="Email address"            
                formControlName="email"
                [ngClass]="{ 'is-invalid': (fc.get('email').touched || fc.get('email').dirty) && !fc.get('email').valid }">            
                <label for="inputEmail">Email address</label>
            <span class="invalid-feedback">
              <span *ngIf="fc.get('email').errors?.required">This field is required</span>
              <span *ngIf="fc.get('email').errors?.email">Email is invalid</span>
              <span *ngIf="fc.get('email').errors?.minlength">The field length is less than required</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input 
                id="inputPassword"
                type="password" 
                class="form-control" 
                placeholder="Password"
                maxlength="8"                  
                formControlName="password"
                [ngClass]="{ 'is-invalid': (fc.get('password').touched || fc.get('password').dirty) && !fc.get('password').valid }">            
            <label for="inputPassword">Password</label>
            <span class="invalid-feedback">
              <span *ngIf="fc.get('password').errors?.required">This field is required</span>
              <span *ngIf="fc.get('password').errors?.email">Email is invalid</span>
              <span *ngIf="fc.get('password').errors?.minlength">The field length is less than required</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me" formControlName="rememberMe" checked="">
              Remember Password
            </label>
          </div>
        </div>        
        <button type="submit" class="btn btn-primary btn-block">Login</button>
        <app-alert [alert]="alert"></app-alert>
      </form>
      <div class="text-center">        
        <a class="d-block small mt-3" [routerLink]="['/register']">Register an Account</a>
        <a class="d-block small" [routerLink]="['/forgot-password']">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>