<!-- Page Content -->
<a [routerLink]="['/societies/', 0, 'edit']" class="btn btn-primary float-right">
  <i class="fas fa-plus"></i> Add New
</a>
<h1>Society List</h1>
<hr>
<div class="row mb-5">
  <div class="col">        
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-hover table-sm">
          <thead>
              <tr>
                  <th style="width: 10%;"></th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Display Name</th>
                  <th>Pin Code</th>
                  <th>Contact No</th>                    
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let society of societies">
                  <td>
                      <a [routerLink]="['/societies/', society.id, 'edit']" class="btn btn-sm btn-warning">Edit</a>
                  </td>
                  <td>{{ society.id }}</td>
                  <td>{{ society.name }}</td>
                  <td>{{ society.displayName }}</td>
                  <td>{{ society.pinCode }}</td>
                  <td>{{ society.contactNo }}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>